<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frw.dal.IOrdersDao">

    <insert id="insertOne" parameterType="com.frw.bean.OrderDo" flushCache="true">
             INSERT INTO orders (order_code,uid) VALUES (#{orderCode},#{uid})
          </insert>
</mapper>